@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 90%;
    line-height: 1.8;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
h1 {
    font-size: 1.5em;
}
a:link {
    text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
    // width: 360px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
}
textarea {
    height: 100px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    
}
header {
    background-color: #fef9c3;
}

header .container {
    display: flex;
    justify-content: space-between;
}
header .brand {
    display: block;
    font-size: 1.3rem;
}
.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation li {
    padding: 0 10px;
}
table{
    border-collapse: collapse;
}
th {
    color: #4169E1;
    font-weight: bold;
}
table th,
table td {
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}
.search {
    text-align: left;
}
dl {
    text-align: center;
}
dt {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: .9rem;
}
dd {
    margin-bottom: 15px;
}
svg.w-5.h-5 {
    width: 25px;
    vertical-align: middle;

}

.title{
    font-size: 25px;
}

.main {
    position: relative;
    left: 20em;
    top: -40px;
    width: 720px;
}

#conf{
    position: relative;
    left: 10em;
    top: 20px;
}

#rogin{
    position: relative;
    top: 20px;
}

#btn_ok{
    position: relative;
    left: 10em;
    top: 20px;
}

#btn_hs{
    position: relative;
    top: 20px;
}
.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  .btn-square2 {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FF3333;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #DD3333;
    border-radius: 3px;
  }
  .btn-square2:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }

  .btn-b {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
  }
  
  .btn-b:hover {
    background: #668ad8;
    color: #FFF;
  }

  .btn-r {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #d87966;
    border-right: solid 4px #d87966;
    color: #d87966;
    background: #e1f3ff;
    transition: .4s;
  }
  
  .btn-r:hover {
    background: #d87966;
    color: #FFF;
  }

  .btn-g{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #6be46b;
    border-right: solid 4px #6be46b;
    color: #6be46b;
    background: #e1f3ff;
    transition: .4s;
  }
  
  .btn-g:hover {
    background: #6be46b;
    color: #FFF;
  }

  .box1 {
    height: 20px;
  }
  .box2 {
    height: 25px;
    margin: 10px;
 }

 .tables {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.iro{
    color: red;
}
