@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 90%;
    line-height: 1.8;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
h1 {
    font-size: 1.5em;
}
a:link {
    text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password],
textarea,
select {
    // width: 360px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
}
textarea {
    height: 100px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}
header {
    background-color: #f5f5f5;
}

header .container {
    display: flex;
    justify-content: space-between;
}
header .brand {
    display: block;
    font-size: 1.3rem;
}
.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation li {
    padding: 0 10px;
}
table{
    border-collapse: collapse;
}
td .show {
    color: #668AD8;
}
th {
    //color: #668AD8;
    background-color: #f5f5f5;
    font-weight: bold;
}
table th,
table td {
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}
.search {
    text-align: left;
}
dl {
    text-align: center;
}
dt {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: .9rem;
}
dd {
    margin-bottom: 15px;
}
svg.w-5.h-5 {
    width: 25px;
    vertical-align: middle;

}
.aru {
    color: #D87966;
    font-weight: bold;
}
.title{
    font-size: 25px;
}

.main {
    position: relative;
    left: 20em;
    top: -40px;
    width: 750px;
}

#conf{
    position: relative;
    left: 10em;
    top: 20px;
}

#login{
    position: relative;
    top: 20px;
}

#btn_ok{
    position: relative;
    left: 7em;
    top: 20px;
    width: 100px;
}

#btn_hs{
    position: relative;
    top: 20px;
}
//変更点 5/25
.pass{
    display: none;
}
.err_msg{
    color:red;
}
.btn-b{

    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668AD8;
    border-right: solid 4px #668AD8;
    color: #668AD8;
    background: #E1F3FF;
    transition: .4s;
  }
  .btn-b:hover {
    background: #668AD8;
    color: #FFF;
  }

  .btn-r {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #D87966;
    border-right: solid 4px #D87966;
    color: #D87966;
    background: #E1F3FF;
    transition: .4s;
  }
  .btn-r:hover {
    background: #D87966;
    color: #FFF;
  }

  .btn-g{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #6BE46B;
    border-right: solid 4px #6BE46B;
    color: #6BE46B;
    background: #E1F3FF;
    transition: .4s;
  }
  .btn-g:hover {
    background: #6BE46B;
    color: #FFF;
  }
  .btn-black{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #000;
    border-right: solid 4px #000;
    color: #000;
    background: #E1F3FF;
    transition: .4s;
  }
  .btn-black:hover {
    background: #000;
    color: #FFF;
  }


  .box1 {
    height: 20px;
  }
  .box2 {
    height: 25px;
    margin: 10px;
 }

 .tables {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.iro{
    color: red;
}
